* {
    margin: 0;
}

.background {
    background: rgba(3, 0, 12, 0.7) url(../profusa2/galeria/frentera.jfif);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 1vh;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    background: transparent;
}

.imgLogo {
    position: relative;
    right: 92%;
    width: 6%;
    top: 2vh;
    height: 11vh;
    border-radius: 50%;
}

/*----------------PAG cabeçalho ---------------*/
.texto2 {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 700%;
    color: rgb(255, 255, 255);
    top: 10%;
    left: 2%;
    text-align: center;

}

.subtitulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    position: relative;
    font-size: 300%;
    top: 7%;
    left: 40%;

    color: aliceblue;
}

.pag1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

/* -------BOTAO REDESOCIAL-----*/
.rede i {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 5%;

}



.rede i:hover {
    background-color: rgb(255, 43, 138);

}

/*------------ PAG 2 ---------------*/
.pag2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150vh;
    overflow-x: hidden;
    overflow-y: hidden;

}

.icone i {
    display: block;
    text-align: center;
    font-size: 300%;
    color: chocolate;
    margin-top: 7%;

}

h5 {
    margin-top: 3%;
    display: block;
    text-align: center;
    font-size: 300%;
    color: chocolate;
}

.minigaleria {
    width: 100%;
    display: block;
    align-items: center;
    margin-left: 0;
    margin-top: 4%;
    columns: 4;

}

.minigaleria .box {
    width: 100%;
    margin-bottom: 1%;
    overflow: hidden;
}

.minigaleria .box img {

    width: 100%;
    max-width: 100%;
    height: 70vh;
    border-radius: 4px;
    transition: transform 0.2s;
}

.minigaleria img:hover {
    transform: scale(1.1);
    z-index: 1;

}

/*--------------BOTAO------------------*/
button {
    --color: #ab671f;
    font-family: inherit;
    display: inline-block;
    width: 20em;
    left: 29em;
    height: 3em;
    line-height: 0em;
    overflow: hidden;
    cursor: pointer;
    margin: 0px;
    font-size: 20px;
    z-index: 1;
    color: var(--color);
    border: 3px solid var(--color);
    border-radius: 6px;
    position: relative;
}

button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 500px;
    height: 100px;
    z-index: -1;
    border-radius: 20%;
}

button:hover {
    color: white;
}

button:before {
    top: 100%;
    left: 100%;
    transition: 0.2s all;
}

button:hover::before {
    top: -30px;
    left: -30px;
}


/*--------------PAG 3 ------------------*/

.pag3 {
    margin-top: 10%;
    width: 100%;
    height: 80vh;
    background-color: rgb(4, 3, 3);
}

.pag33 {
    width: 50%;
    height: 80vh;
    left: 10%;
    background-color: rgb(162, 77, 17);
}

.testeimg1 {
    position: relative;
    width: 70%;
    height: 60vh;
    left: 9%;
    top: 10vh;
}

.testeimg2 {
    position: relative;
    width: 50%;
    height: 80vh;
    left: 50%;
    top: -80vh;
}

/*--------------PAG 4 ------------------*/
.pag4 {
    width: 100%;
    height: 140vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(146, 2, 2);
}

.iconeLocal i {
    display: block;
    text-align: left;
    font-size: 300%;
    color: chocolate;
    margin-top: 18%;
    margin-left: 48%;
}

h6 {
    margin-top: 3%;
    display: block;
    margin-left: 41%;
    font-size: 220%;
    color: chocolate;
}


/*-------------- PAG 5 ------------------*/
.pag5 {
    width: 100%;
    height: 20vh;
    background-color: rgb(212, 103, 1);
}

.contatos {
    position: relative;
    text-align: center;
    color: aliceblue;
    font-size: 150%;
    top: 5vh;
}


/*--------------MAPA BOX ------------------*/
.mapBox iframe {
    width: 100%;
    height: 40vh;
    margin-left: 0%;
}

@media screen and (max-width: 1020px) {
    .pag1 {
        height: 100vh;
    }

    .imgLogo {
        width: 30%;
        height: 30%;
        right: 38%;
        top: 14vh;
    }

    .texto2 {
        font-size: 300%;
        top: 30%;
        left: 0%;
    }

    .subtitulo {
        font-size: 150%;
        left: 32%;
        top: 35%;
    }

    .rede i {
        top: 2%;
        left: 80%;
        width: 9%;
        height: 5%;
    }

    .pag2,
    .h5 {
        font-size: 60%;
        height: 50vh;
    }

    .minigaleria .box img {
        height: 20vh;
    }

    .pag3 {
        display: none;
        height: 10vh;
    }

    .button {
        display: none;

    }

    .iconeLocal,
    .h6 {
        text-align: center;
        justify-content: center;
    }
}